<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kim2.test.dao.AccountDao">
  
  <resultMap id="accountMap" type="account">  
    <id column="BUSI_NUM" property="businessNo"/>
    <result column="FACTORY" property="factory"/>
    <result column="TRADE_BANK" property="tradeBank"/>
    <result column="ACCOUNT_NUM" property="accountNo"/>
  </resultMap>
 
  <insert id="insert" parameterType="map">
    insert into account(BUSI_NUM,FACTORY,TRADE_BANK,ACCOUNT_NUM)
    values(#{businessNo},#{factory},#{tradeBank},#{accountNo})
  </insert>
  
  <!--  
  <update id="update" parameterType="map">
    update har_learning set
      min_head=#{learning.minPeople},
      max_head=#{learning.maxPeople},
      curriculum=#{learning.progressOrder},
      price=#{learning.price},
      zipcode=#{learning.zipcode},
      addr=#{learning.address},
      det_addr=#{learning.detailAddress},
      rfnd_info=#{learning.refundInformation},
      sgg_no=#{learning.sigunguNo}
    where lno=#{no}
  </update>
       
  <select id="findAll" resultMap="learningMap">
    select
      l.lno,
      l.min_head,
      l.max_head,
      l.curriculum,
      l.price,
      l.zipcode,
      l.addr,
      l.det_addr,
      l.rfnd_info,
      s.sno,
      s.sname,
      s.sintro,
      s.cov_img,
      s.sstat,
      s.rdttm,
      e.sche_no,
      e.date,
      e.stm,
      e.etm,
      m.mno,
      m.name,
      m.nickname,
      m.profile_pic,
      m.mrno,
      t.tno,
      t.tintro,
      t.tappl,
      t.prom_dttm,
      n.ncat_no,
      n.ncat_name,
      b.bcat_no,
      b.bcat_name,
      g.sgg_no,
      g.sgg_name,
      d.sido_no,
      d.sido_name
    from har_learning l
      inner join har_service s on s.sno=l.lno
      inner join har_narrow_cat n on n.ncat_no=s.ncat_no
      inner join har_broad_cat b on b.bcat_no=n.bcat_no
      inner join har_sigungu g on g.sgg_no=l.sgg_no
      inner join har_sido d on d.sido_no=g.sido_no
      inner join har_schedule e on e.lno=l.lno
      inner join har_tutor t on t.tno=l.tno
      inner join har_member m on m.mno=t.tno
    order by s.sno desc
  </select>
   -->
  <!-- 체험학습 상세 -->
  <!-- 
  <select id="findByNo" resultMap="learningMap" parameterType="int">
    select
      s.sno,
      s.sname,
      s.rdttm,
      s.cov_img,
      s.sintro,
      s.sstat,
      m.name,
      m.nickname,
      m.profile_pic,
      m.mrno,
      l.lno,
      l.min_head,
      l.max_head,
      l.curriculum,
      l.price,
      l.zipcode,
      l.addr,
      l.det_addr,
      l.rfnd_info,
      e.sche_no,
      e.date,
      e.stm,
      e.etm,
      n.ncat_no,
      n.ncat_name,
      b.bcat_no,
      b.bcat_name,
      g.sgg_no,
      g.sgg_name,
      d.sido_no,
      d.sido_name,
      t.tno,
      t.tintro
    from har_learning l
      inner join har_service s on s.sno=l.lno
      inner join har_narrow_cat n on n.ncat_no=s.ncat_no
      inner join har_broad_cat b on b.bcat_no=n.bcat_no
      inner join har_sigungu g on g.sgg_no=l.sgg_no
      inner join har_sido d on d.sido_no=g.sido_no
      inner join har_schedule e on e.lno=l.lno
      inner join har_tutor t on t.tno=l.tno
      inner join har_member m on m.mno=t.tno
    where
      l.lno=#{value}
  </select>
   -->
</mapper>






