<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kim2.test.dao.AccountDao">
  
  <resultMap id="accountMap" type="account">  
    <id column="BUSI_NUM" property="businessNo"/>
    <result column="FACTORY" property="factory"/>
    <result column="TRADE_BANK" property="tradeBank"/>
    <result column="ACCOUNT_NUM" property="accountNo"/>
  </resultMap>
 
  <insert id="insert" parameterType="account">
    insert into account(BUSI_NUM,FACTORY,TRADE_BANK,ACCOUNT_NUM)
    values(#{businessNo},#{factory},#{tradeBank},#{accountNo})
  </insert>
  
  <select id="findByNo" resultMap="accountMap" parameterType="String">
    select
      BUSI_NUM,
      FACTORY,
      TRADE_BANK,
      ACCOUNT_NUM
    from account a
    where
      BUSI_NUM=#{value}
  </select>
  
  <delete id="delete" parameterType="String">
    delete from account where BUSI_NUM=#{businessNo}
  </delete>
  
  <update id="update" parameterType="account">
    update account set
        FACTORY=#{factory},
        TRADE_BANK=#{tradeBank},
        ACCOUNT_NUM=#{accountNo}
      where BUSI_NUM=#{businessNo}
  </update>
  
</mapper>






