<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kim2.test.dao.CustomerDao">
  
  <resultMap id="customerMap" type="customer">
  
    <!-- domain.Customer -->
    <id column="BUSI_NUM" property="businessNumber"/>
    <result column="CUSTOM" property="custom"/>
    <result column="SHORT" property="sshort"/>
    <result column="CEO" property="ceo"/>
    <result column="CHARGE_PERSON" property="chargePerson"/>
    <result column="BUSI_CONDITION" property="businessCondition"/>
    <result column="ITEM" property="item"/>
    <result column="POST_NUM" property="postNumber"/>
    <result column="ADDR1" property="firstAddress"/>
    <result column="ADDR2" property="secondAddress"/>
    <result column="TEL" property="tel"/>
    <result column="FAX" property="fax"/>
    <result column="HOMEPAGE" property="homepage"/>
    <result column="CO_YN" property="corporationWhether"/>
    <result column="FOREIGN_YN" property="foreignWhether"/>
    <result column="TAX_YN" property="taxWhether"/>
    
    <!-- domain.Nation -->
    <result column="NATION_NO" property="nationNo"/>
    <result column="NATION_SHORT" property="nationS"/>
    <result column="NATION" property="nation"/>
    
    <result column="SPECIAL_RELATION" property="specialRelation"/>
    <result column="TRADE_STOP" property="tradeStop"/>
    <result column="CONTRACT_PERIOD_S" property="contractStart"/>
    <result column="CONTRACT_PERIOD_E" property="contractEnd"/>
    <result column="REGI_INFO_MAN" property="registrationMan"/>
    <result column="REGI_INFO_DATE" property="registrationDate"/>
    <result column="MODI_INFO_MAN" property="modificationMan"/>
    <result column="MODI_INFO_DATE" property="modificationDate"/>
  </resultMap>
  
  <insert id="insert" parameterType="customer">
    insert into custom(BUSI_NUM,CUSTOM,SHORT,CEO,CHARGE_PERSON,BUSI_CONDITION,ITEM, POST_NUM,
      ADDR1,ADDR2,TEL,FAX,HOMEPAGE,CO_YN,FOREIGN_YN,TAX_YN,COUNTRY_ENG,COUNTRY_KOR,
      SPECIAL_RELATION,TRADE_STOP,CONTRACT_PERIOD_S,CONTRACT_PERIOD_E,REGI_INFO_MAN,REGI_INFO_DATE,
      MODI_INFO_MAN,MODI_INFO_DATE)
    values(#{businessNumber},#{custom},#{sshort},#{ceo},#{chargePerson},#{businessCondition},#{item},
      #{postNumber},#{firstAddress},#{secondAddress},#{tel},#{fax},#{homepage},#{corporationWhether},
      #{foreignWhether},#{taxWhether},#{countryEnglish},#{countryKorean},#{specialRelation},#{tradeStop},
      #{contractStart},#{contractEnd},#{registrationMan},#{registrationDate},#{modificationMan},#{modificationDate})
  </insert>
  
  <!-- 거래처 정보 -->
  <select id="findByNo" resultMap="customerMap" parameterType="String">
    select
      BUSI_NUM,
      CUSTOM,
      SHORT,
      CEO,
      CHARGE_PERSON,
      BUSI_CONDITION,
      ITEM,
      POST_NUM,
      ADDR1,
      ADDR2,
      TEL,
      FAX,
      HOMEPAGE,
      CO_YN,
      FOREIGN_YN,
      TAX_YN,
      COUNTRY_ENG,
      COUNTRY_KOR,
      SPECIAL_RELATION,
      TRADE_STOP,
      CONTRACT_PERIOD_S,
      CONTRACT_PERIOD_E,
      REGI_INFO_MAN,
      REGI_INFO_DATE,
      MODI_INFO_MAN,
      MODI_INFO_DATE
    from custom c
    where
      BUSI_NUM=#{value}
  </select>
  
  <delete id="delete" parameterType="String">
    delete from custom where BUSI_NUM=#{businessNumber}
  </delete>
   
  <update id="update" parameterType="customer">
    update custom set
		    CUSTOM=#{custom},
		    SHORT=#{sshort},
		    CEO=#{ceo},
		    CHARGE_PERSON=#{chargePerson},
		    BUSI_CONDITION=#{businessCondition},
		    ITEM=#{item},
		    POST_NUM=#{postNumber},
		    ADDR1=#{firstAddress},
		    ADDR2=#{secondAddress},
		    TEL=#{tel},
		    FAX=#{fax},
		    HOMEPAGE=#{homepage},
		    CO_YN=#{corporationWhether},
		    FOREIGN_YN=#{foreignWhether},
		    TAX_YN=#{taxWhether},
		    SPECIAL_RELATION=#{specialRelation},
		    TRADE_STOP=#{tradeStop},
		    CONTRACT_PERIOD_S=#{contractStart},
		    CONTRACT_PERIOD_E=#{contractEnd},
		    REGI_INFO_MAN=#{registrationMan},
		    REGI_INFO_DATE=#{registrationDate},
		    MODI_INFO_MAN=#{modificationMan},
		    MODI_INFO_DATE=#{modificationDate}
      where BUSI_NUM=#{businessNumber}
  </update>
  
</mapper>






