<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kim2.test.dao.CustomerDao">
  
  <resultMap id="customerMap" type="customer">
  
    <!-- domain.Customer -->
    <id column="BUSI_NUM" property="businessNumber"/>
    <result column="CUSTOM" property="custom"/>
    <result column="SHORT" property="sshort"/>
    <result column="CEO" property="ceo"/>
    <result column="CHARGE_PERSON" property="chargePerson"/>
    <result column="BUSI_CONDITION" property="businessCondition"/>
    <result column="ITEM" property="item"/>
    <result column="POST_NUM" property="postNumber"/>
    <result column="ADDR1" property="firstAddress"/>
    <result column="ADDR2" property="secondAddress"/>
    <result column="TEL" property="tel"/>
    <result column="FAX" property="fax"/>
    <result column="HOMEPAGE" property="homepage"/>
    <result column="CO_YN" property="corporationWhether"/>
    <result column="FOREIGN_YN" property="foreignWhether"/>
    <result column="TAX_YN" property="taxWhether"/>
    <result column="COUNTRY_ENG" property="countryEnglish"/>
    <result column="COUNTRY_KOR" property="countryKorean"/>
    <result column="SPECIAL_RELATION" property="specialRelation"/>
    <result column="TRADE_STOP" property="tradeStop"/>
    <result column="CONTRACT_PERIOD_S" property="contractStart"/>
    <result column="CONTRACT_PERIOD_E" property="contractEnd"/>
    <result column="REGI_INFO_MAN" property="registrationMan"/>
    <result column="REGI_INFO_DATE" property="registrationDate"/>
    <result column="MODI_INFO_MAN" property="modificationMan"/>
    <result column="MODI_INFO_DATE" property="modificationDate"/>
  </resultMap>
  
  <insert id="insert" parameterType="map">
    insert into custom(BUSI_NUM,CUSTOM,SHORT,CEO,CHARGE_PERSON,BUSI_CONDITION,ITEM, POST_NUM,
      ADDR1,ADDR2,TEL,FAX,HOMEPAGE,CO_YN,FOREIGN_YN,TAX_YN,COUNTRY_ENG,COUNTRY_KOR,
      SPECIAL_RELATION,TRADE_STOP,CONTRACT_PERIOD_S,CONTRACT_PERIOD_E,REGI_INFO_MAN,REGI_INFO_DATE,
      MODI_INFO_MAN,MODI_INFO_DATE)
    values(#{businessNumber},#{custom},#{sshort},#{ceo},#{chargePerson},#{businessCondition},#{item},
      #{postNumber},#{firstAddress},#{secondAddress},#{tel},#{fax},#{homepage},#{corporationWhether},
      #{foreignWhether},#{taxWhether},#{countryEnglish},#{countryKorean},#{specialRelation},#{tradeStop},
      #{contractStart},#{contractEnd},#{registrationMan},#{registrationDate},#{modificationMan},#{modificationDate})
  </insert>
  
  <!-- 거래처 정보 -->
  <select id="findByNo" resultMap="customerMap" parameterType="String">
    select
      BUSI_NUM,
      CUSTOM,
      SHORT,
      CEO,
      CHARGE_PERSON,
      BUSI_CONDITION,
      ITEM,
      POST_NUM,
      ADDR1,
      ADDR2,
      TEL,
      FAX,
      HOMEPAGE,
      CO_YN,
      FOREIGN_YN,
      TAX_YN,
      COUNTRY_ENG,
      COUNTRY_KOR,
      SPECIAL_RELATION,
      TRADE_STOP,
      CONTRACT_PERIOD_S,
      CONTRACT_PERIOD_E,
      REGI_INFO_MAN,
      REGI_INFO_DATE,
      MODI_INFO_MAN,
      MODI_INFO_DATE
    from custom c
    where
      BUSI_NUM=#{value}
  </select>
  
  <delete id="delete" parameterType="String">
    delete from customer where BUSI_NUM=#{businessNumber}
  </delete>
  
 
  <update id="update" parameterType="map">
    update custom set
      BUSI_NUM=#{customer.businessNumber},
      CUSTOM=#{customer.custom},
      SHORT=#{customer.sshort},
      CEO=#{customer.ceo},
      CHARGE_PERSON=#{customer.chargePerson},
      BUSI_CONDITION=#{customer.businessCondition},
      ITEM=#{customer.item},
      POST_NUM=#{customer.postNumber},
      ADDR1=#{customer.firstAddress},
      ADDR2=#{customer.secondAddress},
      TEL=#{customer.tel},
      FAX=#{customer.fax},
      HOMEPAGE=#{customer.homepage},
      CO_YN=#{customer.corporationWhether},
      FOREIGN_YN=#{customer.foreignWhether},
      TAX_YN=#{customer.taxWhether},
      COUNTRY_ENG=#{customer.countryEnglish},
      COUNTRY_KOR=#{customer.countryKorean},
      SPECIAL_RELATION=#{customer.specialRelation},
      TRADE_STOP=#{customer.tradeStop},
      CONTRACT_PERIOD_S=#{customer.contractStart},
      CONTRACT_PERIOD_E=#{customer.contractEnd},
      REGI_INFO_MAN=#{customer.registrationMan},
      REGI_INFO_DATE=#{customer.registrationDate},
      MODI_INFO_MAN=#{customer.modificationMan},
      MODI_INFO_DATE=#{customer.modificationDate}
    where BUSI_NUM=#{businessNumber}
  </update>
  
  
  <!-- 
   <select id="findAll" resultMap="customerMap">
    select
      BUSI_NUM,
      CUSTOM,
      SHORT,
      CEO,
      CHARGE_PERSON,
      BUSI_CONDITION,
      ITEM,
      POST_NUM,
      ADDR1,
      ADDR2,
      TEL,
      FAX,
      HOMEPAGE,
      CO_YN,
      FOREIGN_YN,
      TAX_YN,
      COUNTRY_ENG,
      COUNTRY_KOR,
      SPECIAL_RELATION,
      TRADE_STOP,
      CONTRACT_PERIOD_S,
      CONTRACT_PERIOD_E,
      REGI_INFO_MAN,
      REGI_INFO_DATE,
      MODI_INFO_MAN,
      MODI_INFO_DATE
    from custom
  </select>
   -->
</mapper>






