<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kim2.test.dao.NationDao">
  
  <resultMap id="nationMap" type="nation">
    <id column="NATION_NO" property="nationNo"/>
    <result column="NATION_SHORT" property="nationS"/>
    <result column="NATION" property="nation"/>
  </resultMap>
  
  <insert id="insert" parameterType="nation">
    insert into custom(NATION_NO,NATION_SHORT,NATION)
    values(#{nationNo},#{nationS},#{nation})
  </insert>
  
  <select id="findByNo" resultMap="nationMap" parameterType="int">
    select
      n.NATION_NO,
      n.NATION_SHORT,
      n.NATION
    from nation n
    where
      n.NATION_NO=#{nationNo}
  </select>
  
  <delete id="delete" parameterType="int">
    delete from nation where NATION_NO=#{nationNo}
  </delete>
  
 <!-- 
  <update id="update" parameterType="map">
    update custom set
      BUSI_NUM=#{customer.businessNumber},
      CUSTOM=#{customer.custom},
      SHORT=#{customer.sshort},
      CEO=#{customer.ceo},
      CHARGE_PERSON=#{customer.chargePerson},
      BUSI_CONDITION=#{customer.businessCondition},
      ITEM=#{customer.item},
      POST_NUM=#{customer.postNumber},
      ADDR1=#{customer.firstAddress},
      ADDR2=#{customer.secondAddress},
      TEL=#{customer.tel},
      FAX=#{customer.fax},
      HOMEPAGE=#{customer.homepage},
      CO_YN=#{customer.corporationWhether},
      FOREIGN_YN=#{customer.foreignWhether},
      TAX_YN=#{customer.taxWhether},
      COUNTRY_ENG=#{customer.countryEnglish},
      COUNTRY_KOR=#{customer.countryKorean},
      SPECIAL_RELATION=#{customer.specialRelation},
      TRADE_STOP=#{customer.tradeStop},
      CONTRACT_PERIOD_S=#{customer.contractStart},
      CONTRACT_PERIOD_E=#{customer.contractEnd},
      REGI_INFO_MAN=#{customer.registrationMan},
      REGI_INFO_DATE=#{customer.registrationDate},
      MODI_INFO_MAN=#{customer.modificationMan},
      MODI_INFO_DATE=#{customer.modificationDate}
    where BUSI_NUM=#{businessNumber}
  </update>
   -->
  
  <!-- 
   <select id="findAll" resultMap="customerMap">
    select
      BUSI_NUM,
      CUSTOM,
      SHORT,
      CEO,
      CHARGE_PERSON,
      BUSI_CONDITION,
      ITEM,
      POST_NUM,
      ADDR1,
      ADDR2,
      TEL,
      FAX,
      HOMEPAGE,
      CO_YN,
      FOREIGN_YN,
      TAX_YN,
      COUNTRY_ENG,
      COUNTRY_KOR,
      SPECIAL_RELATION,
      TRADE_STOP,
      CONTRACT_PERIOD_S,
      CONTRACT_PERIOD_E,
      REGI_INFO_MAN,
      REGI_INFO_DATE,
      MODI_INFO_MAN,
      MODI_INFO_DATE
    from custom
  </select>
   -->
</mapper>






