<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kim2.test.dao.NationDao">
  
  <resultMap id="nationMap" type="nation">
    <id column="NATION_NO" property="nationNo"/>
    <result column="NATION_SHORT" property="nationShort"/>
    <result column="NATION" property="nation"/>
  </resultMap>

  <select id="findAll" resultMap="nationMap">
    select * from nations
      order by NATION_NO asc
  </select>

</mapper>






